@charset "UTF-8";
/*-------------------------------------------------------------------
    @Color
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    @Mixin - fontStyler(f-size, f-weight, l-height, l-spacing, color: default=$color-00)
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    @Button 
    - Size: default: small(50x30) 별도 클래스 없음 / .large, .medium 으로 사이즈 조절
    - Style: default: line 별도 클래스 없음 / .solid, .icon- 으로 스타일링
-------------------------------------------------------------------*/
/* input button */
input[type=button][class*=btn] {
  min-width: 50px;
  height: 30px;
  padding: 0px 11px;
  border: 1px solid #C3C3C3;
  border-radius: 5px;
  background-color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: normal;
  color: #868686;
}

input[type=button][class*=btn].hover:not([disabled]), input[type=button][class*=btn]:hover:not([disabled]), input[type=button][class*=btn]:active:not([disabled]) {
  color: #414141;
  border-color: #414141;
}

input[type=button][class*=btn]:disabled {
  color: #C3C3C3;
  border-color: #DEDEDE;
}

input[type=button][class*=btn].medium {
  min-width: 90px;
  height: 45px;
  padding: 0px 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.31;
  letter-spacing: normal;
  color: #414141;
}

input[type=button][class*=btn].medium:disabled {
  color: #C3C3C3;
}

input[type=button][class*=btn].large {
  min-width: 130px;
  height: 60px;
  padding: 0px 24px;
  border-radius: 10px;
  font-size: 19px;
  font-weight: bold;
  line-height: 1.31;
  letter-spacing: normal;
  color: #414141;
}

input[type=button][class*=btn].large:disabled {
  color: #C3C3C3;
}

input[type=button][class*=btn][class*=-solid] {
  color: #FFFFFF;
  border: none;
  background-color: #4B6CEB;
}

input[type=button][class*=btn][class*=-solid].hover:not([disabled]), input[type=button][class*=btn][class*=-solid]:hover:not([disabled]), input[type=button][class*=btn][class*=-solid]:active:not([disabled]) {
  color: #FFFFFF;
  background-color: #314699;
}

input[type=button][class*=btn][class*=-solid]:disabled {
  color: #FFFFFF;
  background-color: #C3C3C3;
}

input[type=button][class*=btn].icon-member {
  padding-left: 39px;
  background: url("../../img/btn_micon_person.svg") no-repeat 16px center;
}

input[type=button][class*=btn].icon-plus {
  padding-left: 39px;
  background: url("../../img/btn_sicon_add.svg") no-repeat 16px center;
}

input[type=button][class*=btn].icon-download {
  padding-left: 39px;
  background: url("../../img/btn_sicon_download.svg") no-repeat 16px center;
}

/* text button */
a[class*=btn-text] {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.69;
  letter-spacing: -0.32px;
  color: #868686;
}

a[class*=btn-text][class*=-small] {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.86;
  letter-spacing: -0.56px;
  color: #868686;
}

a[class*=btn-text]:hover, a[class*=btn-text].hover {
  color: #414141;
}

a[class*=btn-text].icon-lock {
  padding-left: 23px;
  background: url("../../img/btn_tmicon_findaid.svg") no-repeat left center;
}

a[class*=btn-text].icon-next {
  padding-right: 16px;
  background: url("../../img/btn_tsicon_arrow_right.svg") no-repeat right center;
}
