/*-------------------------------------------------------------------
    @Color
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    @Mixin - fontStyler(f-size, f-weight, l-height, l-spacing, color: default=$color-00)
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    @Form
-------------------------------------------------------------------*/
/* input */
input {
  border: 1px solid #e8e8e8;
}

input[type=text],
input[type=password],
input[type=number],
input[type=date] {
  width: 250px;
  padding: 0px 15px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  background-color: #ffffff;
  outline: 0;
  font-size: 15px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: normal;
  color: #101416;
}

input[type=text]:-moz-read-only,
input[type=password]:-moz-read-only,
input[type=number]:-moz-read-only,
input[type=date]:-moz-read-only {
  color: #868686;
  background-color: #f7f7f7;
}

input[type=text]:read-only,
input[type=password]:read-only,
input[type=number]:read-only,
input[type=date]:read-only {
  color: #868686;
  background-color: #f7f7f7;
}

input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=date]:focus:not([readonly]) {
  border-color: #414141;
}

input[type=text].error,
input[type=password].error,
input[type=number].error,
input[type=date].error {
  color: #1d1d1d;
  background-color: #fff5f6;
  border-color: #e4344a;
}

/* textarea */
textarea {
  width: 400px;
  height: 155px;
  padding: 12px 15px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  resize: none;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.73;
  letter-spacing: -0.38px;
  color: #1d1d1d;
}

textarea:focus {
  border-color: #414141;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #a8a8a8;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #a8a8a8;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #a8a8a8;
}

input::placeholder, textarea::placeholder {
  color: #a8a8a8;
}

/* select */
select {
  width: 250px;
  height: 40px;
  padding: 0px 15px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  font-size: 15px;
  font-weight: normal;
  line-height: 2.4;
  letter-spacing: normal;
  color: #1d1d1d;
}

select option {
  font-size: 20px;
  padding: 10px;
}

.selectric-wrapper {
  width: 250px;
  height: 40px;
}

.selectric-wrapper .selectric {
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  background-color: #ffffff;
}

.selectric-wrapper .selectric .label {
  margin: 0px 15px;
  font-size: 15px;
  font-weight: normal;
  line-height: 2.4;
  letter-spacing: normal;
  color: #1d1d1d;
}

.selectric-wrapper .selectric .button {
  width: 34px;
  background-color: transparent;
}

.selectric-wrapper .selectric .button::after {
  border-top-width: 6.8px;
  border-top-color: #1d1d1d;
}

.selectric-wrapper .selectric-items {
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #fff;
}

.selectric-wrapper .selectric-items li {
  padding: 0px 15px;
  font-size: 15px;
  font-weight: normal;
  line-height: 2.87;
  letter-spacing: normal;
  color: #1d1d1d;
}

.selectric-wrapper .selectric-items li:hover, .selectric-wrapper .selectric-items li.highlighted {
  background-color: rgba(0, 0, 0, 0.05);
}

.selectric-wrapper.selectric-above .selectric-items {
  bottom: 42px;
}

.selectric-wrapper.selectric-below .selectric-items {
  top: 42px;
}

.selectric-disabled {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.selectric-disabled .selectric {
  background-color: #f7f7f7;
}

.selectric-disabled .selectric .label {
  color: #868686;
}

.selectric-disabled .selectric .button {
  width: 34px;
  background-color: transparent;
}

.selectric-disabled .selectric .button::after {
  border-top-width: 6.8px;
  border-top-color: #868686;
}

/* radio */
.radio-con {
  display: inline-block;
  position: relative;
}

.radio-con input[type=radio] {
  width: 21px;
  height: 21px;
  position: absolute;
  opacity: 0;
}

.radio-con input[type=radio]:checked + label::before {
  border: 7px solid #4b70eb;
}

.radio-con input[type=radio]:disabled + label {
  color: #a8a8a8;
}

.radio-con input[type=radio]:disabled + label::before {
  background-color: #dedede;
}

.radio-con input[type=radio]:checked:disabled + label::before {
  border: 1px solid #c3c3c3;
}

.radio-con input[type=radio]:checked:disabled + label::after {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  left: 7px;
  background-color: #aaaaaa;
}

.radio-con label {
  padding-left: 29px;
  cursor: pointer;
  font-size: 15px;
  font-weight: normal;
  line-height: 21px;
  letter-spacing: normal;
  color: #1d1d1d;
}

.radio-con label::before {
  content: "";
  width: 21px;
  height: 21px;
  position: absolute;
  left: 0;
  border: 1px solid #c3c3c3;
  border-radius: 50%;
  background-color: #ffffff;
}

/* checkbox */
.checkbox-con {
  display: inline-block;
  position: relative;
}

.checkbox-con input[type=checkbox] {
  width: 21px;
  height: 21px;
  position: absolute;
  opacity: 0;
}

.checkbox-con input[type=checkbox]:checked + label::before {
  border: 7px solid #4b70eb;
}

.checkbox-con input[type=checkbox]:disabled + label {
  color: #a8a8a8;
}

.checkbox-con input[type=checkbox]:disabled + label::before {
  background-color: #dedede;
}

.checkbox-con input[type=checkbox]:checked:disabled + label::before {
  border: 1px solid #c3c3c3;
}

.checkbox-con input[type=checkbox]:checked:disabled + label::after {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  left: 7px;
  background-color: #aaaaaa;
}

.checkbox-con label {
  padding-left: 29px;
  cursor: pointer;
  font-size: 15px;
  font-weight: normal;
  line-height: 21px;
  letter-spacing: normal;
  color: #1d1d1d;
}

.checkbox-con label::before {
  content: "";
  color: #ffffff;
  text-align: center;
  width: 21px;
  height: 21px;
  position: absolute;
  left: 0;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  background-color: #ffffff;
}
