@charset "UTF-8";
/*-------------------------------------------------------------------
    @Color
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    @Mixin - fontStyler(f-size, f-weight, l-height, l-spacing, color: default=$color-00)
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    @Font
-------------------------------------------------------------------*/
/* Font-family */
.ff-noto {
  font-family: "Noto Sans KR" !important;
}

.ff-roboto {
  font-family: "Roboto" !important;
  letter-spacing: normal !important;
}

/* Heading */
h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: -2.4px;
  color: #000000;
}

h2 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.38;
  letter-spacing: -2px;
  color: #000000;
}

h3 {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: -1.6px;
  color: #000000;
}

h4 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: -1.2px;
  color: #000000;
}

h1.ff-roboto, h2.ff-roboto, h3.ff-roboto, h4.ff-roboto {
  font-weight: bold;
}

/* Body */
.fs-18 {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.56;
  letter-spacing: -0.36px;
  color: #000000;
}

.fs-15 {
  font-size: 15px;
  font-weight: normal;
  line-height: 1.6;
  letter-spacing: -0.3px;
  color: #000000;
}

.fs-14 {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.57;
  letter-spacing: -0.28px;
  color: #000000;
}

.fs-12 {
  font-size: 12px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

/* Button */
.fs-btn-19 {
  font-size: 19px;
  font-weight: normal;
  line-height: 1.58;
  letter-spacing: -0.38px;
  color: #000000;
}

.fs-btn-16 {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.56;
  letter-spacing: -0.32px;
  color: #000000;
}

.fs-btn-14 {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.57;
  letter-spacing: -0.28px;
  color: #000000;
}

.fs-18.ff-roboto, .fs-15.ff-roboto, .fs-14.ff-roboto, .fs-12.ff-roboto,
.fs-btn-19.ff-roboto, .fs-btn-16.ff-roboto, .fs-btn-14.ff-roboto {
  font-weight: 300;
}

/* Font-weight */
.fw-500 {
  font-weight: 500 !important;
}

.fw-bold {
  font-weight: bold !important;
}

/*-------------------------------------------------------------------
    @Color
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    @Mixin - fontStyler(f-size, f-weight, l-height, l-spacing, color: default=$color-00)
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    @Form
-------------------------------------------------------------------*/
/* input */
input {
  border: 1px solid #e8e8e8;
}

input[type=text],
input[type=password],
input[type=number],
input[type=date] {
  width: 250px;
  height: 40px;
  padding: 1px 15px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  background-color: #ffffff;
  vertical-align: middle;
  outline: 0;
  font-size: 15px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: normal;
  color: #101416;
}

input[type=text]:-moz-read-only,
input[type=password]:-moz-read-only,
input[type=number]:-moz-read-only,
input[type=date]:-moz-read-only {
  color: #868686;
  background-color: #f7f7f7;
}

input[type=text]:read-only,
input[type=password]:read-only,
input[type=number]:read-only,
input[type=date]:read-only {
  color: #868686;
  background-color: #f7f7f7;
}

input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=date]:focus:not([readonly]) {
  border-color: #414141;
}

input[type=text].error,
input[type=password].error,
input[type=number].error,
input[type=date].error {
  color: #1d1d1d;
  background-color: #fff5f6;
  border-color: #dc3636;
}

input[type=text].error + span.error-msg,
input[type=password].error + span.error-msg,
input[type=number].error + span.error-msg,
input[type=date].error + span.error-msg {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  color: #dc3636;
}

/* textarea */
textarea {
  width: 400px;
  height: 155px;
  padding: 12px 15px;
  word-break: break-all;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  resize: none;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.73;
  letter-spacing: -0.38px;
  color: #1d1d1d;
}

textarea:focus {
  border-color: #414141;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #a8a8a8;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #a8a8a8;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #a8a8a8;
}

input::placeholder, textarea::placeholder {
  color: #a8a8a8;
}

/* select */
.select-con {
  min-width: 250px;
  display: inline-block;
  vertical-align: middle;
}

.select-con select {
  width: 100%;
  height: 40px;
  padding: 0px 15px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  vertical-align: middle;
  font-size: 15px;
  font-weight: normal;
  line-height: 2.4;
  letter-spacing: normal;
  color: #1d1d1d;
}

.select-con select option {
  font-size: 20px;
  padding: 10px;
}

.selectric-wrapper {
  width: 100%;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
}

.selectric-wrapper .selectric {
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  background-color: #ffffff;
}

.selectric-wrapper .selectric .label {
  margin: 0px 15px;
  font-size: 15px;
  font-weight: normal;
  line-height: 2.4;
  letter-spacing: normal;
  color: #1d1d1d;
}

.selectric-wrapper .selectric .button {
  width: 34px;
  background-color: transparent;
}

.selectric-wrapper .selectric .button::after {
  border-top-width: 6.8px;
  border-top-color: #1d1d1d;
}

.selectric-wrapper .selectric-items {
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #ffffff;
}

.selectric-wrapper .selectric-items li {
  padding: 0px 15px;
  font-size: 15px;
  font-weight: normal;
  line-height: 2.87;
  letter-spacing: normal;
  color: #1d1d1d;
}

.selectric-wrapper .selectric-items li:hover, .selectric-wrapper .selectric-items li.highlighted {
  background-color: rgba(0, 0, 0, 0.05);
}

.selectric-wrapper.selectric-above .selectric-items {
  bottom: 42px;
}

.selectric-wrapper.selectric-below .selectric-items {
  top: 42px;
}

.selectric-disabled {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.selectric-disabled .selectric {
  background-color: #f7f7f7;
}

.selectric-disabled .selectric .label {
  color: #868686;
}

.selectric-disabled .selectric .button {
  width: 34px;
  background-color: transparent;
}

.selectric-disabled .selectric .button::after {
  border-top-width: 6.8px;
  border-top-color: #868686;
}

/* radio */
.radio-con {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.radio-con input[type=radio] {
  width: 21px;
  height: 21px;
  position: absolute;
  opacity: 0;
}

.radio-con input[type=radio]:checked + label::before {
  border: 7px solid #4b70eb;
}

.radio-con input[type=radio]:disabled + label {
  color: #a8a8a8;
}

.radio-con input[type=radio]:disabled + label::before {
  background-color: #dedede;
}

.radio-con input[type=radio]:checked:disabled + label::before {
  border: 1px solid #c3c3c3;
}

.radio-con input[type=radio]:checked:disabled + label::after {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  left: 7px;
  background-color: #aaaaaa;
}

.radio-con label {
  padding-left: 29px;
  cursor: pointer;
  font-size: 15px;
  font-weight: normal;
  line-height: 21px;
  letter-spacing: normal;
  color: #1d1d1d;
}

.radio-con label::before {
  content: "";
  width: 21px;
  height: 21px;
  position: absolute;
  left: 0;
  border: 1px solid #c3c3c3;
  border-radius: 50%;
  background-color: #ffffff;
}

.radio-con.only-box label {
  padding-left: 0;
}

/* radio 버튼형 */
.radio-btn-con {
  display: inline-block;
  position: relative;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  font-size: 0;
}

.radio-btn-con input {
  position: absolute;
  opacity: 0;
}

.radio-btn-con input:checked + label {
  color: #ffffff;
  background-color: #4b70eb;
  border-right-color: #c3c3c3;
}

.radio-btn-con label {
  display: inline-block;
  padding: 11px 21px 12px;
  border-right: 1px solid #c3c3c3;
  cursor: pointer;
  font-size: 15px;
  font-weight: normal;
  line-height: 22px;
  letter-spacing: normal;
  color: #1d1d1d;
}

.radio-btn-con label:last-child {
  border: none;
}

/* checkbox */
.checkbox-con {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.checkbox-con input[type=checkbox] {
  width: 21px;
  height: 21px;
  float: left;
  opacity: 0;
}

.checkbox-con input[type=checkbox]:checked + label::before {
  border-color: #4b70eb;
  background: #4b70eb url("../../img/icn_form_checkbox.svg") no-repeat center center;
}

.checkbox-con input[type=checkbox]:disabled + label {
  color: #a8a8a8;
}

.checkbox-con input[type=checkbox]:disabled + label::before {
  background-color: #dedede;
}

.checkbox-con input[type=checkbox]:checked:disabled + label::before {
  border: 1px solid #c3c3c3;
  background-image: url("../../img/icn_form_checkbox_readonly.svg");
}

.checkbox-con label {
  display: block;
  overflow: hidden;
  padding-left: 8px;
  word-break: keep-all;
  cursor: pointer;
  font-size: 15px;
  font-weight: normal;
  line-height: 21px;
  letter-spacing: normal;
  color: #1d1d1d;
}

.checkbox-con label::before {
  content: "";
  width: 21px;
  height: 21px;
  position: absolute;
  left: 0;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  background-color: #ffffff;
}

.checkbox-con.only-box label {
  padding-left: 0;
}

/* datepicker */
.datepicker-con {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.datepicker-con input[type=text] {
  padding-left: 44px;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: normal;
  line-height: 18px;
  letter-spacing: normal;
  color: #1d1d1d;
}

.datepicker-con .ui-datepicker-trigger {
  background: none;
  position: absolute;
  top: 11px;
  left: 15px;
}

.ui-datepicker {
  display: none;
  width: 334px;
  margin-top: 2px;
  padding: 19px 31px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  background-color: #ffffff;
  font-family: "Roboto";
}

.ui-datepicker .ui-datepicker-title {
  font-size: 32px;
  font-weight: bold;
  line-height: 38px;
  letter-spacing: -0.8px;
  color: #1d1d1d;
}

.ui-datepicker .ui-datepicker-header {
  position: relative;
  margin-bottom: 25px;
  background: none;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-title {
  text-align: center;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-header .ui-datepicker-next {
  position: absolute;
  top: 0;
  cursor: pointer;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
  left: -14px;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-prev .ui-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-indent: -99999px;
  background: url("../../img/btn_arrow_calendar_prev.svg") no-repeat center;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-next {
  right: -14px;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-next .ui-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-indent: -99999px;
  background: url("../../img/btn_arrow_calendar_next.svg") no-repeat center;
}

.ui-datepicker th, .ui-datepicker td {
  width: 40px;
}

.ui-datepicker th {
  padding-bottom: 17px;
  font-family: "Noto Sans KR";
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: -0.4px;
  color: #1d1d1d;
}

.ui-datepicker th:first-child {
  color: #dc3636;
}

.ui-datepicker td {
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  line-height: 2.75;
  letter-spacing: -0.8px;
  color: #5a5a5a;
}

.ui-datepicker td.ui-state-disabled {
  opacity: .3;
}

.ui-datepicker td:first-child {
  color: #dc3636;
}

.ui-datepicker td .ui-state-default {
  display: inline-block;
  width: 32.1px;
  height: 32.1px;
  line-height: 32.1px;
  padding: 0;
  border: none;
  background: none;
  color: inherit;
  text-align: center;
}

.ui-datepicker td .ui-state-default.ui-state-active {
  color: #ffffff;
  background-color: #4b70eb;
  border-radius: 50%;
  font-weight: bold;
}

/*-------------------------------------------------------------------
    @Color
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    @Mixin - fontStyler(f-size, f-weight, l-height, l-spacing, color: default=$color-00)
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    @Button
-------------------------------------------------------------------*/
input[type=button].btn-solid {
  display: inline-block;
  min-width: 180px;
  height: 70px;
  background-color: #4b70eb;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.88;
  letter-spacing: -0.4px;
  color: #ffffff;
}

input[type=button].btn-solid:hover:not([disabled]), input[type=button].btn-solid:active:not([disabled]), input[type=button].btn-solid.hover {
  -webkit-box-shadow: 3px 3px rgba(0, 0, 0, 0.35);
          box-shadow: 3px 3px rgba(0, 0, 0, 0.35);
  border-top: 3px solid #4b70eb;
  border-left: 3px solid #4b70eb;
  background-color: #183494;
}

input[type=button].btn-solid:disabled {
  background-color: #c3c3c3;
  cursor: default;
}

input[type=button].btn-solid.large {
  min-width: 130px;
  height: 60px;
  padding: 0px 30px;
  border-radius: 10px;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.42;
  letter-spacing: -0.76px;
  color: #ffffff;
}

input[type=button].btn-solid.large.grad-orange {
  background: linear-gradient(344deg, #ff793e 58%, #ffc16e);
}

input[type=button].btn-solid.small {
  min-width: 50px;
  height: 30px;
  border-radius: 4px;
  padding: 0 11px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: normal;
  color: #ffffff;
}

input[type=button].btn-line {
  min-width: 56px;
  height: 30px;
  padding: 0 14px;
  border: 1px solid #c3c3c3;
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 2.14;
  letter-spacing: -0.35px;
  color: #414141;
}

input[type=button].btn-line.large {
  min-width: 76px;
  height: 45px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.88;
  letter-spacing: -0.4px;
  color: #414141;
}

input[type=button].btn-line.has-bg {
  background-color: #f9f9f9;
}

input[type=button].btn-line:hover:not([disabled]), input[type=button].btn-line:active:not([disabled]), input[type=button].btn-line.hover {
  border-color: #414141;
}

input[type=button].btn-line:disabled {
  border-color: #dedede;
  cursor: default;
}

input[type=button].btn-line.icon-member {
  padding-left: 56px;
  background: url("../../img/icn_form_calendar.svg") no-repeat 30px center #ffffff;
}

input[type=button].btn-line.icon-plus {
  padding-left: 24.5px;
  background: url("../../img/btn_ico_add_s.svg") no-repeat 11px center #ffffff;
}

input[type=button].btn-line.icon-download {
  padding-left: 24.5px;
  background: url("../../img/btn_ico_download_s.svg") no-repeat 11px center #ffffff;
}

input[type=button].btn-box {
  min-width: 90px;
  height: 45px;
  padding: 0 21px;
  background-color: #4b70eb;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: normal;
  color: #ffffff;
}

input[type=button].btn-box.large {
  min-width: 130px;
  height: 60px;
  padding: 0px 30px;
  border-radius: 10px;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.42;
  letter-spacing: -0.76px;
  color: #ffffff;
}

input[type=button].btn-box.large.grad-orange {
  background: linear-gradient(344deg, #ff793e 58%, #ffc16e);
}

input[type=button].btn-box.small {
  min-width: 50px;
  height: 30px;
  border-radius: 4px;
  padding: 0 11px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: normal;
  color: #414141;
}

input[type=button].btn-box.line {
  border: 1px solid #c3c3c3;
  background-color: #ffffff;
}

input[type=button].btn-box.icon-prev {
  padding-left: 50px;
  background: url("../../img/icn_form_checkbox.svg") no-repeat 30px center #727685;
}

input[type=button].btn-box.icon-member {
  padding-left: 56px;
  background: url("../../img/icn_form_calendar.svg") no-repeat 30px center #ffffff;
}

input[type=button].btn-box.icon-plus {
  padding-left: 24.5px;
  background: url("../../img/icn_form_checkbox_readonly.svg") no-repeat 11px center #ffffff;
}

a[class*=btn-text] {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.69;
  letter-spacing: -0.32px;
  color: #868686;
}

a[class*=btn-text][class*=-small] {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.86;
  letter-spacing: -0.56px;
  color: #868686;
}

/*-------------------------------------------------------------------
    @Color
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    @Mixin - fontStyler(f-size, f-weight, l-height, l-spacing, color: default=$color-00)
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    @Table
-------------------------------------------------------------------*/
/* List */
.table-con {
  width: 100%;
}

table.table-list {
  width: 100%;
}

table.table-list th, table.table-list td {
  text-align: center;
  border-left: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

table.table-list th:first-child, table.table-list td:first-child {
  border-left: none;
}

table.table-list thead th {
  padding: 12px 10px 11px;
  border-top: 2px solid #1d1d1d;
  border-bottom: none;
  background-color: #f7f7f7;
  color: #5a5a5a;
  font-size: 14px;
  font-weight: normal;
  line-height: 17px;
  letter-spacing: -0.56px;
  color: #5a5a5a;
}

table.table-list td {
  padding: 12px 10px 16px;
  font-size: 15px;
  font-weight: normal;
  line-height: 22px;
  letter-spacing: normal;
  color: #414141;
}

table.table-list td.has-btn {
  padding: 9px 10px 11px;
}

.color-main {
  color: #4b70eb;
}

.color-sub1 {
  color: #4a53c6;
}

.color-sub2 {
  color: #ffe662;
}

.color-sub3 {
  color: #ff793e;
}

.color-error {
  color: #dc3636;
}

.color-error-input {
  color: #fff5f6;
}

.color-ff {
  color: #ffffff;
}

.color-f7 {
  color: #f7f7f7;
}

.color-ed {
  color: #ededed;
}

.color-de {
  color: #dedede;
}

.color-c3 {
  color: #c3c3c3;
}

.color-a8 {
  color: #a8a8a8;
}

.color-86 {
  color: #868686;
}

.color-5a {
  color: #5a5a5a;
}

.color-41 {
  color: #414141;
}

.color-1d {
  color: #1d1d1d;
}

.color-00 {
  color: #000000;
}

.color-e8 {
  color: #e8e8e8;
}

.sub-wrap {
  padding: 42px 40px;
}

.content-sec {
  width: 943px;
  margin-bottom: 60px;
}

.sec-head {
  margin-bottom: 15px;
}

.sec-head.has-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sec-head.has-btn .left-con, .sec-head.has-btn .right-con {
  font-size: 0;
}

.sec-head.has-btn .left-con > *, .sec-head.has-btn .right-con > * {
  display: inline-block;
  vertical-align: bottom;
}

.sec-head.has-btn .left-con .total-cnt {
  color: #868686;
  font-weight: 500;
}

.form-con {
  padding-top: 25px;
  border-top: 2px solid #1d1d1d;
}

.form-con > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-size: 0;
  margin-bottom: 25px;
}

.form-con > li > div {
  display: inline-block;
  vertical-align: top;
}

.form-con > li .form-title {
  width: 170px;
}

.form-con > li .form-title label {
  display: inline-block;
  vertical-align: middle;
  color: #5a5a5a;
}

.form-con > li .form-title span {
  display: inline-block;
  vertical-align: middle;
  color: #dc3636;
}

.w340 {
  width: 340px !important;
}

.w408 {
  width: 408px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mr7 {
  margin-right: 7px !important;
}

.mr8 {
  margin-right: 8px !important;
}

.mr9 {
  margin-right: 9px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mr17 {
  margin-right: 17px !important;
}

.mr20 {
  margin-right: 20px !important;
}
