@charset "UTF-8";
/*-------------------------------------------------------------------
    @Color
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    @Mixin - fontStyler(f-size, f-weight, l-height, l-spacing, color: default=$color-00)
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    @Font
-------------------------------------------------------------------*/
/* Heading */
h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: -2.4px;
  color: #000000;
}

h2 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.38;
  letter-spacing: -2px;
  color: #000000;
}

h3 {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: -1.6px;
  color: #000000;
}

h4 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: -1.2px;
  color: #000000;
}

/* Body */
.font18 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.56;
  letter-spacing: -0.36px;
  color: #000000;
}

.font15 {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: -0.3px;
  color: #000000;
}

.font14 {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.57;
  letter-spacing: -0.28px;
  color: #000000;
}

/* Button */
.btn-font19 {
  font-size: 19px;
  font-weight: bold;
  line-height: 1.58;
  letter-spacing: -0.38px;
  color: #000000;
}

.btn-font16 {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.56;
  letter-spacing: -0.32px;
  color: #000000;
}

.btn-font14 {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.57;
  letter-spacing: -0.28px;
  color: #000000;
}

/*-------------------------------------------------------------------
    @Color
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    @Mixin - fontStyler(f-size, f-weight, l-height, l-spacing, color: default=$color-00)
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    @Form
-------------------------------------------------------------------*/
/* input */
input {
  border: 1px solid #e8e8e8;
}

input[type=text],
input[type=password],
input[type=number],
input[type=date] {
  width: 250px;
  height: 40px;
  padding: 1px 15px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  background-color: #ffffff;
  outline: 0;
  font-size: 15px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: normal;
  color: #101416;
}

input[type=text]:-moz-read-only,
input[type=password]:-moz-read-only,
input[type=number]:-moz-read-only,
input[type=date]:-moz-read-only {
  color: #868686;
  background-color: #f7f7f7;
}

input[type=text]:read-only,
input[type=password]:read-only,
input[type=number]:read-only,
input[type=date]:read-only {
  color: #868686;
  background-color: #f7f7f7;
}

input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=date]:focus:not([readonly]) {
  border-color: #414141;
}

input[type=text].error,
input[type=password].error,
input[type=number].error,
input[type=date].error {
  color: #1d1d1d;
  background-color: #fff5f6;
  border-color: #e4344a;
}

input[type=text].error + span.error-msg,
input[type=password].error + span.error-msg,
input[type=number].error + span.error-msg,
input[type=date].error + span.error-msg {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  color: #dc3636;
}

/* textarea */
textarea {
  width: 400px;
  height: 155px;
  padding: 12px 15px;
  word-break: break-all;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  resize: none;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.73;
  letter-spacing: -0.38px;
  color: #1d1d1d;
}

textarea:focus {
  border-color: #414141;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #a8a8a8;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #a8a8a8;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #a8a8a8;
}

input::placeholder, textarea::placeholder {
  color: #a8a8a8;
}

/* select */
select {
  width: 250px;
  height: 40px;
  padding: 0px 15px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  font-size: 15px;
  font-weight: normal;
  line-height: 2.4;
  letter-spacing: normal;
  color: #1d1d1d;
}

select option {
  font-size: 20px;
  padding: 10px;
}

.selectric-wrapper {
  width: 250px;
  height: 40px;
}

.selectric-wrapper .selectric {
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  background-color: #ffffff;
}

.selectric-wrapper .selectric .label {
  margin: 0px 15px;
  font-size: 15px;
  font-weight: normal;
  line-height: 2.4;
  letter-spacing: normal;
  color: #1d1d1d;
}

.selectric-wrapper .selectric .button {
  width: 34px;
  background-color: transparent;
}

.selectric-wrapper .selectric .button::after {
  border-top-width: 6.8px;
  border-top-color: #1d1d1d;
}

.selectric-wrapper .selectric-items {
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #fff;
}

.selectric-wrapper .selectric-items li {
  padding: 0px 15px;
  font-size: 15px;
  font-weight: normal;
  line-height: 2.87;
  letter-spacing: normal;
  color: #1d1d1d;
}

.selectric-wrapper .selectric-items li:hover, .selectric-wrapper .selectric-items li.highlighted {
  background-color: rgba(0, 0, 0, 0.05);
}

.selectric-wrapper.selectric-above .selectric-items {
  bottom: 42px;
}

.selectric-wrapper.selectric-below .selectric-items {
  top: 42px;
}

.selectric-disabled {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.selectric-disabled .selectric {
  background-color: #f7f7f7;
}

.selectric-disabled .selectric .label {
  color: #868686;
}

.selectric-disabled .selectric .button {
  width: 34px;
  background-color: transparent;
}

.selectric-disabled .selectric .button::after {
  border-top-width: 6.8px;
  border-top-color: #868686;
}

/* radio */
.radio-con {
  display: inline-block;
  position: relative;
}

.radio-con input[type=radio] {
  width: 21px;
  height: 21px;
  position: absolute;
  opacity: 0;
}

.radio-con input[type=radio]:checked + label::before {
  border: 7px solid #4b70eb;
}

.radio-con input[type=radio]:disabled + label {
  color: #a8a8a8;
}

.radio-con input[type=radio]:disabled + label::before {
  background-color: #dedede;
}

.radio-con input[type=radio]:checked:disabled + label::before {
  border: 1px solid #c3c3c3;
}

.radio-con input[type=radio]:checked:disabled + label::after {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  left: 7px;
  background-color: #aaaaaa;
}

.radio-con label {
  padding-left: 29px;
  cursor: pointer;
  font-size: 15px;
  font-weight: normal;
  line-height: 21px;
  letter-spacing: normal;
  color: #1d1d1d;
}

.radio-con label::before {
  content: "";
  width: 21px;
  height: 21px;
  position: absolute;
  left: 0;
  border: 1px solid #c3c3c3;
  border-radius: 50%;
  background-color: #ffffff;
}

/* radio 버튼형 */
.radio-btn-con {
  display: inline-block;
  position: relative;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  font-size: 0;
}

.radio-btn-con input {
  position: absolute;
  opacity: 0;
}

.radio-btn-con input:checked + label {
  color: #ffffff;
  background-color: #4b70eb;
  border-right-color: #c3c3c3;
}

.radio-btn-con label {
  display: inline-block;
  padding: 11px 21px 12px;
  border-right: 1px solid #c3c3c3;
  cursor: pointer;
  font-size: 15px;
  font-weight: normal;
  line-height: 22px;
  letter-spacing: normal;
  color: #1d1d1d;
}

.radio-btn-con label:last-child {
  border: none;
}

/* checkbox */
.checkbox-con {
  display: inline-block;
  position: relative;
}

.checkbox-con input[type=checkbox] {
  width: 21px;
  height: 21px;
  float: left;
  opacity: 0;
}

.checkbox-con input[type=checkbox]:checked + label::before {
  border-color: #4b70eb;
  background: #4b70eb url("../../img/icn_form_checkbox.svg") no-repeat center center;
}

.checkbox-con input[type=checkbox]:disabled + label {
  color: #a8a8a8;
}

.checkbox-con input[type=checkbox]:disabled + label::before {
  background-color: #dedede;
}

.checkbox-con input[type=checkbox]:checked:disabled + label::before {
  border: 1px solid #c3c3c3;
  background-image: url("../../img/icn_form_checkbox_readonly.svg");
}

.checkbox-con label {
  display: block;
  overflow: hidden;
  padding-left: 8px;
  word-break: keep-all;
  cursor: pointer;
  font-size: 15px;
  font-weight: normal;
  line-height: 21px;
  letter-spacing: normal;
  color: #1d1d1d;
}

.checkbox-con label::before {
  content: "";
  width: 21px;
  height: 21px;
  position: absolute;
  left: 0;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  background-color: #ffffff;
}

/* datepicker */
.datepicker-con {
  display: inline-block;
  position: relative;
}

.datepicker-con input[type=text] {
  padding-left: 44px;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: normal;
  line-height: 18px;
  letter-spacing: normal;
  color: #1d1d1d;
}

.datepicker-con .ui-datepicker-trigger {
  background: none;
  position: absolute;
  top: 11px;
  left: 15px;
}

.ui-datepicker {
  width: 334px;
  margin-top: 2px;
  padding: 19px 31px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  background-color: #ffffff;
  font-family: "Roboto";
}

.ui-datepicker .ui-datepicker-title {
  font-size: 32px;
  font-weight: bold;
  line-height: 38px;
  letter-spacing: -0.8px;
  color: #1d1d1d;
}

.ui-datepicker .ui-datepicker-header {
  position: relative;
  margin-bottom: 25px;
  background: none;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-title {
  text-align: center;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-header .ui-datepicker-next {
  position: absolute;
  top: 0;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
  left: 0;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-prev .ui-icon {
  display: inline-block;
  width: 9px;
  height: 16px;
  text-indent: -99999px;
  background: url("../img/icn_form_calendar.svg") no-repeat center;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-next {
  right: 0;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-next .ui-icon {
  display: inline-block;
  width: 9px;
  height: 16px;
  text-indent: -99999px;
  background: url("../../img/icn_form_calendar.svg") no-repeat center;
}

.ui-datepicker th, .ui-datepicker td {
  width: 40px;
}

.ui-datepicker th {
  padding-bottom: 17px;
  font-family: "Noto Sans KR";
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: -0.4px;
  color: #1d1d1d;
}

.ui-datepicker th:first-child {
  color: #dc3636;
}

.ui-datepicker td {
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  line-height: 2.75;
  letter-spacing: -0.8px;
  color: #5a5a5a;
}

.ui-datepicker td.ui-state-disabled {
  opacity: .3;
}

.ui-datepicker td:first-child {
  color: #dc3636;
}

.ui-datepicker td .ui-state-default {
  display: inline-block;
  width: 32.1px;
  height: 32.1px;
  line-height: 32.1px;
  padding: 0;
  border: none;
  background: none;
  color: inherit;
  text-align: center;
}

.ui-datepicker td .ui-state-default.ui-state-active {
  color: #ffffff;
  background-color: #4b70eb;
  border-radius: 50%;
  font-weight: bold;
}

/*-------------------------------------------------------------------
    @Color
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    @Mixin - fontStyler(f-size, f-weight, l-height, l-spacing, color: default=$color-00)
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    @Button
-------------------------------------------------------------------*/
input[type=button].btn-solid {
  display: inline-block;
  min-width: 180px;
  height: 70px;
  background-color: #4b70eb;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.88;
  letter-spacing: -0.4px;
  color: #ffffff;
}

input[type=button].btn-solid:hover:not([disabled]), input[type=button].btn-solid:active:not([disabled]), input[type=button].btn-solid.hover {
  -webkit-box-shadow: 3px 3px rgba(0, 0, 0, 0.35);
          box-shadow: 3px 3px rgba(0, 0, 0, 0.35);
  border-top: 3px solid #4b70eb;
  border-left: 3px solid #4b70eb;
  background-color: #183494;
}

input[type=button].btn-solid:disabled {
  background-color: #c3c3c3;
  cursor: default;
}

input[type=button].btn-line {
  min-width: 56px;
  height: 30px;
  padding: 0 14px;
  border: 1px solid #c3c3c3;
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 2.14;
  letter-spacing: -0.35px;
  color: #414141;
}

input[type=button].btn-line.large {
  min-width: 76px;
  height: 45px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.88;
  letter-spacing: -0.4px;
  color: #414141;
}

input[type=button].btn-line.has-bg {
  background-color: #f9f9f9;
}

input[type=button].btn-line:hover:not([disabled]), input[type=button].btn-line:active:not([disabled]), input[type=button].btn-line.hover {
  border-color: #414141;
}

input[type=button].btn-line:disabled {
  border-color: #dedede;
  cursor: default;
}

input[type=button].btn-box {
  min-width: 90px;
  height: 45px;
  padding: 0 21px;
  background-color: #4b70eb;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: normal;
  color: #ffffff;
}

input[type=button].btn-box.large {
  min-width: 130px;
  height: 60px;
  padding: 0px 30px;
  border-radius: 10px;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.42;
  letter-spacing: -0.76px;
  color: #ffffff;
}

input[type=button].btn-box.large.grad-orange {
  background: linear-gradient(344deg, #ff793e 58%, #ffc16e);
}

input[type=button].btn-box.small {
  min-width: 50px;
  height: 30px;
  border-radius: 4px;
  padding: 0 11px;
}

input[type=button].btn-box.line {
  border: 1px solid #c3c3c3;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: normal;
  color: #414141;
}

input[type=button].btn-box.icon-prev {
  padding-left: 50px;
  background: url("../../img/icn_form_checkbox.svg") no-repeat 30px center #727685;
}

input[type=button].btn-box.icon-member {
  padding-left: 56px;
  background: url("../../img/icn_form_calendar.svg") no-repeat 30px center #ffffff;
}

input[type=button].btn-box.icon-plus {
  padding-left: 24.5px;
  background: url("../../img/icn_form_checkbox_readonly.svg") no-repeat 11px center #ffffff;
}

a[class*=btn-text] {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.69;
  letter-spacing: -0.32px;
  color: #868686;
}

a[class*=btn-text][class*=-small] {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.86;
  letter-spacing: -0.56px;
  color: #868686;
}

.sub-wrap {
  padding: 50px;
  background-color: #f4f7ff;
}

.content-sec {
  width: 1280px;
  margin: 0 auto;
}

.content-sec h3 {
  margin-bottom: 21px;
}

.content-con {
  padding: 40px;
  background-color: #ffffff;
}
