@charset "utf-8";


/*-------------------------------------------------------------------
    @Mixin - fontStyler(f-size, f-weight, l-height, l-spacing, color: default=$color-00)
-------------------------------------------------------------------*/
@mixin fontStyler($size, $weight, $height, $spacing, $color: $color-00){
    font-size: $size; 
    font-weight: $weight; 
    line-height: $height; 
    letter-spacing: $spacing; 
    color: $color;
}

/*-------------------------------------------------------------------
    @Mixin - btnHoverStyler(글자색, 보더색, 배경색, 그라데이션1, 그라데이션2)
    - 배경색이 있는 버튼(btn-solid)이라면 hover시 기존 배경색 + #000000 35%로 적용
    - 4,5번째 인자는 3번째 인자가 'gradation'인 경우에만 적용됨
-------------------------------------------------------------------*/
@mixin btnHoverStyler($color, $bdcolor, $bgcolor: #ffffff, $grad1: #FF793E, $grad2: #FFC16E){
    &.hover:not([disabled]),
    &:hover:not([disabled]), 
    &:focus:not([disabled]), 
    &:active:not([disabled]) {
        color: $color;
        border-color: $bdcolor;
        @if $bgcolor == "gradation" {
            border: none;
            background: linear-gradient(346deg, mix($grad1, rgba(0, 0, 0, 1), 65%) 63%, mix($grad2, rgba(0, 0, 0, 1), 65%));
        } @else if $bgcolor != #ffffff {
            background-color: mix($bgcolor, rgba(0, 0, 0, 1), 65%);
        }
    }
}