@charset "utf-8";
@import 'color.scss';
@import 'mixin.scss';

/*-------------------------------------------------------------------
    @Popup
-------------------------------------------------------------------*/
/* default popup */
.popup-wrap {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    &.active {
        display: block;
    }
    .content-wrap {
        width: 100%;
        min-width: 400px;
        max-width: 1024px;
        max-height: 753px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        background-color: $color-ff;
        box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
        .head-sec{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding: 24px 24px 23.5px 40px;
            border-bottom: 1px solid #ddd;
            .close-btn img {
                width: 24px;
                height: 24px;
            }
        }
        .body-sec{
            padding: 39.5px 40px 0;
            .popup-cont {
                max-width: 944px;
                max-height: 520px;
                overflow-y: auto;
            }
        }
        .foot-sec{
            display: flex;
            justify-content: space-between;
            margin: 24px 40px 40px;
            .right-con > * {
                margin-left: 8px;
                &:first-child {
                    margin-left: 0;
                } 
            }
        }
        /* message popup - (confirm, alert, text, message) */
        &.small {
            display: flex;
            flex-direction: column;
            width: 400px;
            min-height: 227px;
            border: 1px solid #e6e6e6;
            .head-sec {
                height: 55px;
                padding: 15px 15px 8px 31px;
                border: none;
                .close-btn { 
                    flex: 1 1 auto;
                    text-align: right;
                }
                .popup-title + .close-btn {
                    flex: 0 0 auto;
                }
            }
            .body-sec {
                flex: 1 1 auto;
                min-height: 78px;
                padding: 0 31px;
                margin: 56px 0 23px;
                text-align: center;
                > * {
                    display: inline-block;
                }
                &[class*=-center] {
                    display: flex;
                    align-items: center;
                }
                &.text-center {
                    min-height: 175px;
                    z-index: -1;
                    margin-top: -28px !important;
                }
                &.message-center {
                    min-height: 128px;
                    margin-top: 8px !important;
                }
            }
            .head-sec + .body-sec {margin-top: 0;}
            .foot-sec {
                margin: 0 31px 23px;
                justify-content: center;
                .center-con {
                    display: inline-block;
                    > * {
                        margin-left: 8px;
                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
        &.emergency {
            width: 408px;
            .body-sec {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding: 27px 40px 0px;
                margin: 8px 7px 0px;
                border-radius: 5px;
                background-color: #2e3a59;
                text-align: center;
                .popup-title > span {
                    display: inline-block;
                    padding-bottom: 2px;
                    border-bottom: 1px solid $color-ff;
                    @include fontStyler(14px, 500, 1.71, normal, $color-ff);
                }
                .content-title {
                    margin-top: 40px;
                    @include fontStyler(34px, bold, 1.24, -1.7px, $color-ff);
                }
                .content-cont {
                    margin-top: 19px;
                    @include fontStyler(16px, 500, 1.44, -0.8px, $color-ff);
                }
                .content-img {
                    max-width: 314px;
                    max-height: 102px;
                    margin-top: 45px;
                }
            }
            .foot-sec {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 12px 15px 10px 23px;
                .cookie-btn {
                    padding-left: 25px;
                    background: url("../img/ico_notice_emergency_check.svg") no-repeat left center;
                    cursor: pointer;
                    @include fontStyler(14px, 500, 1.71, -0.28px, $color-86);
                }
                .close-btn img {
                    width: 40px;
                    height: 40px;
                }
            }
        }
        [class*=icon-] {
            padding-left: 36px;
            text-align: left;
        }
        .icon-confirm {background: url("../img/ico_alert_check.svg") no-repeat left top / 32px 32px;}
        .icon-alert {background: url("../img/ico_alert_warning.svg") no-repeat left top / 32px 32px; padding-left: 40px;}
        .icon-noti {background: url("../img/ico_alert_noti.svg") no-repeat left top / 32px 32px;}
    }
    .dim-wrap {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0.6);
    }
}