@charset "utf-8";
@import 'font.scss';
@import 'form.scss';
@import 'button.scss';
@import 'table.scss';


.color-main {color: $color-main;}
.color-sub1 {color: $color-sub1;}
.color-sub2 {color: $color-sub2;}
.color-sub3 {color: $color-sub3;}
.color-sub4 {color: $color-sub4;}
.color-sub5 {color: $color-sub5;}

.color-error {color: $color-error;}
.color-4d {color: $color-4d;}

.color-ff {color: $color-ff;}
.color-f7 {color: $color-f7;}
.color-ed {color: $color-ed;}
.color-de {color: $color-de;}
.color-c3 {color: $color-c3;}
.color-a8 {color: $color-a8;}
.color-86 {color: $color-86;}
.color-5a {color: $color-5a;}
.color-41 {color: $color-41;}
.color-1d {color: $color-1d;}
.color-00 {color: $color-00;}

.color-error-input {color: $color-error-input;}
.color-e8 {color: $color-e8;}

.sub-wrap {
    padding: 42px 40px;
}
.content-sec {
    width: 943px;
    margin-bottom: 60px;
}
.sec-head {
    margin-bottom: 15px;
    &.has-btn {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        .left-con, .right-con {
            font-size: 0;
            > * {
                display: inline-block;
                vertical-align: bottom;
            }
        }
        .left-con {
            .total-cnt {
                color: $color-86;
                font-weight: 500;
            }
        }
    }
}
.sec-body{
    
}
.form-con {
    padding-top: 25px;
    border-top: 2px solid $color-1d;
    > li {
        display: flex;
        align-items: baseline;
        font-size: 0;
        margin-bottom: 25px;
        > div {
            display: inline-block;
            vertical-align: top;
        }
        .form-title {
            width: 170px;
            label {
                display: inline-block;
                vertical-align: middle;
                color: $color-5a;
            }
            span {
                display: inline-block;
                vertical-align: middle;
                color: $color-error;
            }
        }
    }
}



.w340 {width: 340px !important;}
.w408 {width: 408px !important;}

.mt20 {margin-top: 20px !important;}

.mb5 {margin-bottom: 5px !important;}
.mb10 {margin-bottom: 10px !important;}
.mb40 {margin-bottom: 40px !important;}

.mr7 {margin-right: 7px !important;}
.mr8 {margin-right: 8px !important;}
.mr9 {margin-right: 9px !important;}
.mr10 {margin-right: 10px !important;}
.mr17 {margin-right: 17px !important;}
.mr20 {margin-right: 20px !important;}


