@charset "utf-8";
@import 'font.scss';
@import 'form.scss';
@import 'button.scss';
@import 'table.scss';


.color-main {color: $color-main;}
.color-sub1 {color: $color-sub1;}
.color-sub2 {color: $color-sub2;}
.color-sub3 {color: $color-sub3;}
.color-sub4 {color: $color-sub4;}
.color-sub5 {color: $color-sub5;}

.color-error {color: $color-error;}
.color-4d {color: $color-4d;}

.color-ff {color: $color-ff;}
.color-f7 {color: $color-f7;}
.color-ed {color: $color-ed;}
.color-de {color: $color-de;}
.color-c3 {color: $color-c3;}
.color-a8 {color: $color-a8;}
.color-86 {color: $color-86;}
.color-5a {color: $color-5a;}
.color-41 {color: $color-41;}
.color-1d {color: $color-1d;}
.color-00 {color: $color-00;}

.color-error-input {color: $color-error-input;}
.color-e8 {color: $color-e8;}

.sub-wrap {
    padding: 42px 40px;
}
.content-sec {
    width: 944px;
    margin-top: 60px;
    &:first-child {
        margin-top: 0;
    }
    .sec-head {
        display: flex;
        align-items: flex-end;
        &.middle {
            align-items: center;
        }
        &.between {
            justify-content: space-between;
        }
        .title-con, .btn-con {
            font-size: 0;
        }
        .btn-con {
            margin-left: 20px;
            > * {
                margin-left: 8px;
                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
    .sec-body{
        /* 제목 + 입력필드 유형 */
        .form-con {
            margin-top: 15px;
            padding-top: 25px;
            border-top: 2px solid $color-1d;
            > li {
                display: flex;
                align-items: baseline;
                font-size: 0;
                margin-bottom: 25px;
                .form-title {
                    min-width: 160px;
                    .title {
                        display: inline-block;
                        vertical-align: middle;
                        margin-left: 8px;
                        @include fontStyler(14px, normal, normal, normal, $color-5a);
                    }
                    .required {
                        display: inline-block;
                        vertical-align: middle;
                        margin-left: 10px;
                        @include fontStyler(12px, 500, normal, normal, $color-error);
                    }
                }
                .form-cont {

                }
            }
        }
    }
    .added-con {
        margin-top: 45px;
    }
}



.w336 {width: 336px !important;}
.w440 {width: 440px !important;}

.mt8 {margin-top: 8px !important;}

.ml8 {margin-left: 8px !important;}