/*-------------------------------------------------------------------
    @Color
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    @Mixin - fontStyler(f-size, f-weight, l-height, l-spacing, color: default=$color-00)
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    @Font
-------------------------------------------------------------------*/
/* Heading */
h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: -2.4px;
  color: #000000; }

h2 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.38;
  letter-spacing: -2px;
  color: #000000; }

h3 {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: -1.6px;
  color: #000000; }

h4 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: -1.2px;
  color: #000000; }

/* Body */
.font18 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.56;
  letter-spacing: -0.36px;
  color: #000000; }

.font15 {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: -0.3px;
  color: #000000; }

.font14 {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.57;
  letter-spacing: -0.28px;
  color: #000000; }

/* Button */
.btn-font19 {
  font-size: 19px;
  font-weight: bold;
  line-height: 1.58;
  letter-spacing: -0.38px;
  color: #000000; }

.btn-font16 {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.56;
  letter-spacing: -0.32px;
  color: #000000; }

.btn-font14 {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.57;
  letter-spacing: -0.28px;
  color: #000000; }

/*-------------------------------------------------------------------
    @Button
-------------------------------------------------------------------*/
input[type=button].btn-solid {
  display: inline-block;
  min-width: 180px;
  height: 70px;
  background-color: #4b70eb;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.88;
  letter-spacing: -0.4px;
  color: #ffffff; }
  input[type=button].btn-solid:hover:not([disabled]), input[type=button].btn-solid:active:not([disabled]), input[type=button].btn-solid.hover {
    box-shadow: 3px 3px rgba(0, 0, 0, 0.35);
    border-top: 3px solid #4b70eb;
    border-left: 3px solid #4b70eb;
    background-color: #183494; }
  input[type=button].btn-solid:disabled {
    background-color: #c3c3c3;
    cursor: default; }
input[type=button].btn-line {
  min-width: 56px;
  height: 30px;
  padding: 0 14px;
  border: 1px solid #c3c3c3;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 2.14;
  letter-spacing: -0.35px;
  color: #414141; }
  input[type=button].btn-line:hover:not([disabled]), input[type=button].btn-line:active:not([disabled]), input[type=button].btn-line.hover {
    box-shadow: 3px 3px rgba(0, 0, 0, 0.35);
    border-top: 3px solid #4b70eb;
    border-left: 3px solid #4b70eb;
    background-color: #183494; }
  input[type=button].btn-line:disabled {
    background-color: #c3c3c3;
    cursor: default; }
