@charset "utf-8";

/*-------------------------------------------------------------------
    @Color
-------------------------------------------------------------------*/
$color-main: #4b70eb;
$color-sub1: #4a53c6;
$color-sub2: #ffe662;
$color-sub3: #ff793e;
$color-error: #dc3636;
$color-error-input: #fff5f6;

$color-ff: #ffffff;
$color-f7: #f7f7f7;
$color-ed: #ededed;
$color-de: #dedede;
$color-c3: #c3c3c3;
$color-a8: #a8a8a8;
$color-86: #868686;
$color-5a: #5a5a5a;
$color-41: #414141;
$color-1d: #1d1d1d;
$color-00: #000000;

$color-e8: #e8e8e8;
$color-dc: #dc3636;