@charset "utf-8";

/*-------------------------------------------------------------------
    @Color
-------------------------------------------------------------------*/
$color-main: #4B6CEB;
$color-sub1: #4A5DC6;
$color-sub2: #38BAB3;
$color-sub3: #F88C63;
$color-sub4: #868FAD;
$color-sub5: #FEC867;

// Gradation
$color-grad-blue1: #5B5ECF;
$color-grad-blue2: #3877DA;
$color-grad-orange1: #FF793E;
$color-grad-orange2: #FFC16E;

// Common
$color-error: #DC3636;
$color-4d: #4D546C;

// Grayscale
$color-ff: #FFFFFF;
$color-f7: #F7F7F7;
$color-ed: #EDEDED;
$color-de: #DEDEDE;
$color-c3: #C3C3C3;
$color-a8: #A8A8A8;
$color-86: #868686;
$color-5a: #5A5A5A;
$color-41: #414141;
$color-1d: #1D1D1D;
$color-00: #000000;

// Input 
$color-error-input: #FFF5F6;
$color-e8: #E8E8E8; 