@charset "utf-8";
@import 'color.scss';
@import 'mixin.scss';


/*-------------------------------------------------------------------
    @Form
-------------------------------------------------------------------*/
/* input */
input {border: 1px solid $color-e8;}
input[type=text],
input[type=password],
input[type=number],
input[type=date]
{
    width: 250px;
    height: 40px;
    padding: 1px 15px;
    border: 1px solid $color-e8;
    border-radius: 5px;
    background-color: $color-ff;
    vertical-align: middle;
    outline: 0;
    @include fontStyler(15px, 500, 36px, normal, #101416);
}
input[type=text]:read-only,
input[type=password]:read-only,
input[type=number]:read-only,
input[type=date]:read-only
{
    color: $color-86;
    background-color: $color-f7;
}
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=date]:focus:not([readonly])
{
    border-color: $color-41;
}
input[type=text].error,
input[type=password].error,
input[type=number].error,
input[type=date].error
{
    color: $color-1d;
    background-color: $color-error-input;
    border-color: $color-error;
    + span.error-msg {
        display: block;
        margin-top: 5px;
        @include fontStyler(14px, 500, normal, normal, $color-error);
    }
}

/* textarea */
textarea {
    width: 400px;
    height: 155px;
    padding: 12px 15px;
    word-break: break-all;
    border: 1px solid $color-e8;
    border-radius: 5px;
    resize: none;
    @include fontStyler(15px, 500, 1.73, -0.38px, $color-1d);
}
textarea:focus {
    border-color: $color-41;
}
input::placeholder, textarea::placeholder {
    color: $color-a8;
}

/* select */
.select-con {
    min-width: 250px;
    display: inline-block;
    vertical-align: middle;
    select {
        width: 100%;
        height: 40px;
        padding: 0px 15px;
        border: 1px solid $color-e8;
        border-radius: 5px;
        vertical-align: middle;
        @include fontStyler(15px, normal, 2.4, normal, $color-1d);
        option {
            font-size: 20px;
            padding: 10px;
        }
    }
}
.selectric-wrapper {
    width: 100%;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    .selectric {
        border: 1px solid $color-e8;
        border-radius: 5px;
        background-color: $color-ff;
        .label {
            margin: 0px 15px;
            @include fontStyler(15px, normal, 2.4, normal, $color-1d);
        }
        .button {
            width: 34px;
            background-color: transparent;
            &::after {
                border-top-width: 6.8px;
                border-top-color: $color-1d;
            }
        }
    }
    .selectric-items {
        border: 1px solid $color-e8;
        border-radius: 5px;
        box-shadow: none;
        background-color: $color-ff;
        li {
            padding: 0px 15px;
            @include fontStyler(15px, normal, 2.87, normal, $color-1d)
        }
        li:hover, li.highlighted {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }
    &.selectric-above .selectric-items {
        bottom: 42px;
    }
    &.selectric-below .selectric-items {
        top: 42px;
    }
}
.selectric-disabled {
    user-select: none;
    .selectric {
        background-color: $color-f7;
        .label {
            color: $color-86;
        }
        .button {
            width: 34px;
            background-color: transparent;
            &::after {
                border-top-width: 6.8px;
                border-top-color: $color-86;
            }
        }
    }
}

/* radio */
.radio-con {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    input[type=radio] {
        width: 21px;
        height: 21px;
        position: absolute;
        opacity: 0;
        &:checked {
            + label {
                &::before {
                    border: 7px solid $color-main;
                }
            }
        }
        &:disabled {
            + label {
                color: $color-a8;
                &::before {
                    background-color: $color-de;
                }
            }
        }
        &:checked:disabled {
            + label {
                &::before {
                    border: 1px solid $color-c3;
                }
                &::after {
                    content: "";
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    position: absolute;
                    top: 7px;
                    left: 7px;
                    background-color: #aaaaaa;
                }
            }
        }
    }
    label {
        &::before {
            content: "";
            width: 21px; 
            height: 21px;
            position: absolute;
            left: 0;
            border: 1px solid $color-c3;
            border-radius: 50%;
            background-color: $color-ff;
        }
        padding-left: 29px;
        cursor: pointer;
        @include fontStyler(15px, normal, 21px, normal, $color-1d);
    }
    &.only-box label {
        padding-left: 0;
    }
}
/* radio 버튼형 */
.radio-btn-con {
    display: inline-block;
    position: relative;
    border: 1px solid $color-c3;
    border-radius: 5px;
    font-size: 0;
    input {
        position: absolute;
        opacity: 0;
        &:checked {
            + label {
                color: $color-ff;
                background-color: $color-main;
                border-right-color: $color-c3;
            }
        }
    }
    label {
        display: inline-block;
        padding: 11px 21px 12px;
        border-right: 1px solid $color-c3;
        cursor: pointer;
        @include fontStyler(15px, normal, 22px, normal, $color-1d);
        &:last-child {
            border: none;
        }
    }
}


/* checkbox */
.checkbox-con {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    input[type=checkbox] {
        width: 21px;
        height: 21px;
        float: left;
        opacity: 0;
        &:checked {
            + label {
                &::before {
                    border-color: $color-main;
                    background: $color-main url("../../img/icn_form_checkbox.svg") no-repeat center center;
                }
            }
        }
        &:disabled {
            + label {
                color: $color-a8;
                &::before {
                    background-color: $color-de;
                }
            }
        }
        &:checked:disabled {
            + label {
                &::before {
                    border: 1px solid $color-c3;
                    background-image: url("../../img/icn_form_checkbox_readonly.svg");
                }
            }
        }
    }
    label {
        &::before {
            content: "";
            width: 21px; 
            height: 21px;
            position: absolute;
            left: 0;
            border: 1px solid $color-c3;
            border-radius: 5px;
            background-color: $color-ff;
        }
        display: block;
        overflow: hidden;
        padding-left: 8px;
        word-break: keep-all;
        cursor: pointer;
        @include fontStyler(15px, normal, 21px, normal, $color-1d);
    }
    &.only-box label {
        padding-left: 0;
    }
}

/* datepicker */
.datepicker-con {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    input[type=text] {
        padding-left: 44px;
        font-family: "Roboto";
        @include fontStyler(15px, normal, 18px, normal, $color-1d);
    }
    .ui-datepicker-trigger {
        background: none;
        position: absolute;
        top: 11px;
        left: 15px;
    }
}
.ui-datepicker {
    display: none;
    width: 334px;
    margin-top: 2px;
    padding: 19px 31px;
    border: 1px solid $color-e8;
    border-radius: 5px;
    background-color: $color-ff;
    font-family: "Roboto";
    .ui-datepicker-title {
        @include fontStyler(32px, bold, 38px, -0.8px, $color-1d);
    }
    .ui-datepicker-header {
        position: relative;
        margin-bottom: 25px;
        background: none;
        .ui-datepicker-title {
            text-align: center;
        }
        .ui-datepicker-prev, 
        .ui-datepicker-next {
            position: absolute;
            top: 0;
            cursor: pointer;
        }
        .ui-datepicker-prev {
            left: -14px;
            .ui-icon {
                display: inline-block;
                width: 40px;
                height: 40px;
                text-indent: -99999px;
                background: url("../../img/btn_arrow_calendar_prev.svg") no-repeat center;
            }
        }
        .ui-datepicker-next {
            right: -14px;
            .ui-icon {
                display: inline-block;
                width: 40px;
                height: 40px;
                text-indent: -99999px;
                background: url("../../img/btn_arrow_calendar_next.svg") no-repeat center;
            }
        }
    }
    th, td {
        width: 40px;
    }
    th {
        padding-bottom: 17px;
        font-family: "Noto Sans KR";
        @include fontStyler(16px, bold, 24px, -0.4px, $color-1d);
        &:first-child {
            color: $color-error;
        }
    }
    td {
        text-align: center;
        @include fontStyler(16px, normal, 2.75, -0.8px, #5a5a5a);
        &.ui-state-disabled {
            opacity: .3;
        }
        &:first-child {
            color: $color-error;
        }
        .ui-state-default {
            display: inline-block;
            width: 32.1px;
            height: 32.1px;
            line-height: 32.1px;
            padding: 0;
            border: none;
            background: none;
            color: inherit;
            text-align: center;
            &.ui-state-active {
                color: $color-ff;
                background-color: $color-main;
                border-radius: 50%;
                font-weight: bold;
            }
        }
    }
}