$color: red;
$color2: skyblue;
$color3: purple;

body {
    background-color: $color2;
    display: flex;
}

.class_name {
    color: $color;
    background-color: darkgray;
    border: 1px solid $color;
}